html{
    overflow-y: hidden;
}

.container{
    position: relative;
    background-color: #952B1D;
    height:100vh;
    width: calc(100vw - 144px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    contain: content;
}

.liquid_align{
    flex-direction: column;
    flex-wrap:wrap;
    margin-top: 15vh;
    padding-left: 5vw;
    height: 70%;
    align-content: flex-start;
    text-align: left;
    width: calc(100vw - 144px);
}

.liquid_text{
    position: absolute;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5em;
    letter-spacing: 7px;
    overflow-x: hidden;
}

.liquid_text h1:nth-child(n-3){
    color: #2d1101;
}

.liquid_text h1:nth-child(n+4){
    color:#F0D1A3;
    transform: translate(1.8%, -300%);
    animation: animate .8s ease-in infinite;
}

@keyframes animate {
    0%, 100% {
        clip-path: polygon(0% 50%, 5% 45%, 10% 40%, 20% 35%, 30% 40%, 40% 45%, 50% 50%, 60% 55%, 70% 60%, 80% 55%, 90% 50%, 100% 45%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 50%, 5% 55%, 10% 60%, 20% 65%, 30% 60%, 40% 55%, 50% 50%, 60% 45%, 70% 40%, 80% 45%, 90% 50%, 100% 55%, 100% 100%, 0% 100%);
    }

    15% {
        clip-path: polygon(0% 55%, 5% 47.5%, 10% 45%, 20% 42.5%, 30% 45%, 40% 47.5%, 50% 50%, 60% 52.5%, 70% 55%, 80% 52.5%, 90% 50%, 100% 47.5%, 100% 100%, 0% 100%);
    }

    65% {
        clip-path: polygon(0% 55%, 5% 52.5%, 10% 55%, 20% 57.5%, 30% 57.5%, 40% 57.5%, 50% 55%, 60% 52.5%, 70% 50%, 80% 47.5%, 90% 47.5%, 100% 50%, 100% 100%, 0% 100%);
    }
}


.landing_image{
    display:flex;
    flex-direction: row-reverse;
    height: 100vh;
    width: 100%;
    position: relative;
    contain: content;
}
.landing_image img {
    object-fit: cover;

}


/* automatic scroller */
.scroller{
    scroll-snap-type: y mandatory;
    width: 100vw;
    height: 100vh; 
    overflow-y: auto;
}


.scroller_section{
    scroll-snap-align: start;
}

.LP_c_container{
    height: 100vh;
    width: 100vw;
    width: calc(100vw - 144px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.LP_c_container div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.LP_c_container:nth-child(n+1){
    background-color: #2c190b;
    color:#F0D1A3;
}

.LP_c_container:nth-child(2n){
    background-color: #2D1101;
    color: #F0D1A3;
}

.card_layout{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1cm 0 2cm;
}

.card_container{
    background-color: #1d1e1f;
    width: 400px;
    height: auto;
    margin: 35px;
    text-align: center;
    box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, .3);
}

.card_container img{
    width: 400px;
    height: auto;
    object-fit: auto;
    object-position: center;
}

.card_container:hover{
    transform: scale(1.03);
    transition: 1s;
}

/* use .nav_font */
.card_container a{
    border: 2px solid #F0D1A3;
    padding: 8px;
    color: #F0D1A3;
    text-align: center;
    margin: 40px 75px;
    text-decoration: none;
    display: block;
    box-shadow: 5px 5px 6px 3px rgba(0, 0, 0, .3);
}

.card_container a:hover{
    border: 3px solid #f96f24;
    color: #f96f24;
    font-size: 20px;
    transition: 0.5s ease-out;
}

.card_content{
    display: flex;
    flex-direction: column;
}

.icon_background{
    flex-direction: column;
    position: relative;
    background-color: #1d1e1f;
    border: solid 5px #F0D1A3;
    width: fit-content;
    padding: 40px 20px;
    box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, .3);
    justify-content: center;
    align-content: center;
}

.icon_background img{
    flex-direction: row;
    position: relative;
    justify-content: center;
}

@media screen and (max-width: 1265px){
     
    .landing_image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-filter: blur(5px);
        filter: blur(2px);
        -webkit-filter: grayscale(100%); 
        filter: grayscale(9%);
    }
    
    .liquid_align{
        z-index: 2;
    }
    .liquid_align .liquid_text :nth-child(n-3),
    .liquid_align .liquid_text p {
        text-shadow: 0 0 10px #000000;
    }

}
